<!--

 This file is part of Magatzem Temporal

 Copyright (C) 2006 Simó Albert i Beltran
 
 Magatzem Temporal is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published
 by the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Magatzem Temporal is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with Magatzem Temporal.  If not, see <http://www.gnu.org/licenses/>.

 http://www.gnu.org/licenses/agpl.txt

 Version 0.0.1

-->
		<form enctype="multipart/form-data" action="index.php" method="post">
			<div>
<!--				<input type="hidden" name="MAX_FILE_SIZE" value="4194304" /> -->
				<label for="userfile" style="vertical-align:middle;">contingut:</label> <input name="userfile" id="userfile" type="file" /><br/>
				<span style="font-size:x-small;">caducitat en 2 mesos</span><br/>
				<input type="submit" value="puja contingut" style="font-size:large;" /><br/>
			</div>
		</form>
